@import 'css/bulma.min.css';
form {
    margin-top: 12px;
    position: absolute;
    bottom: 12px;
    width: 97%;
}

#chat-messages {
    max-height: 200px;
}

#chat-messages li {
    padding: 12px;
    display: flex;
    align-items: baseline;
    white-space: pre-wrap;
}

#chat-messages li > h1 {
    font-weight: bold;
}

.box {
    height: 350px;
    width: 80%;
    position: relative;
}

.chat-messages {
    max-height: 200px;
    overflow-y: auto;
}